<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnUnitTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB31FCBD256170B6001B1D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB31FCD3256170BC001B1D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB31FCDE256170BC001B1D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
